<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Search</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="../staticFiles/main.css">
</head>
<body>
    <header class="bg-[#140038] py-5">
        <div class="headerContainer">
            <h1 class="h-text">Voice Bassed User Indetification</h1>
            <div class="flex justify-between items-center gap-x-2">
                <span class="text-white font-medium">Shomtro Kumar</span>
                <img class="w-[56px] h-[56px]" src="./assets/img/avatar.png" alt="">
            </div>
        </div>
    </header>

    <main class="py-14">
        <!-- Main Content -->
        <div class="container mx-auto">
            <!-- Topbar -->
            <div class="topbar flex justify-between">
                <h3 class="text-xl text-[#140038] font-semibold">Upload your files and Check Voice!</h3>
                <div class="flex justify-between gap-x-2">
                    <div class="px-3 border border-gray-200 rounded-md flex items-center">
                        <span class="text-gray-200"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input class="text-xs text-gray-300 focus:outline-none pl-3" type="search" placeholder="NID/Phone/Name/Location">
                    </div>
                    <button class="bg-[#560095] rounded-md py-3 px-10 text-sm text-[#fff]">
                        Saved Searches
                    </button>
                    <button class="bg-[#560095] rounded-md py-3 px-10 text-sm text-[#fff]" id="profileBtn">
                        <i class="fa-solid fa-plus"></i> Add Profile
                    </button>
                </div>
            </div>
            <!-- Topbar End -->

            <div class="flex justify-between py-4 gap-x-2">
                <!-- File Upload -->
                <div class="w-[50%]">
                    <form method="POST" action="/upload" enctype="multipart/form-data">
                        <div class="flex items-center justify-center w-full">
                        
                            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-[3px] border-[#560095] bg-[#f7e8fe] border-dashed rounded-lg cursor-pointer">
                                <div class="flex flex-col items-center justify-center pt-1 pb-1">
                                    <span class="text-4xl text-gray-700">
                                        <i class="fa-solid fa-volume-high"></i>
                                    </span>
                                    <p class="text-md py-3 font-semibold">
                                        <span id="file-chosen" class="text-[#560095]"></span>
                                        audio file Successfully Uploaded
                                    </p>
                                </div>
                                <div class="bg-[#560095] rounded-xl py-3 px-10 text-xs text-[#fff]">
                                    <input id="dropzone-file" type="file" hidden />
                                    <span>Browse Diffrent File</span>
                                </div>

                                <span id="fileChosen"></span>

                                <input type = "submit" value = "Submit" class="submitBtn"/>
                                
                            </label>
                           
                        </div> 
                    </form>
                   
                </div>

                <!-- Voice Box -->
                <div class="w-[50%]">
                    <div class="flex items-center justify-center w-full bg-[#f8f8f8]">
                        <label class="flex flex-col items-center justify-center w-full h-64 border-2 border-[#ddd] rounded-lg">
                            <div class="flex flex-col items-center justify-center pt-1 pb-1">
                                <button class="bg-[#560095] w-12 h-12 rounded-full flex justify-center items-center text-white ring-8 ring-gray-200">
                                    <i class="fa-solid fa-microphone"></i>
                                </button>
                                <p class="text-md py-3 font-semibold">Tap to Instant Speek</p>
                            </div>
                            
                            <button class="border text-[#560095] border-[#560095] bg-white rounded-xl py-3 px-10 text-sm">
                                Tap to Record
                            </button>
                            
                        </label>
                    </div> 
                </div>
            </div>



            <div class="flex justify-between py-4 gap-x-2">
                <!-- File Upload -->
                <div class="w-[50%]">
                    <div class="flex flex-col justify-center w-full bg-[#e4e3e4] h-64 rounded-xl px-10 py-5">
                        <p class="text-[#140038] font-semibold text-xl py-3">Main Audio</p>
                        <audio controls  preload="metadata" class="w-full">
                            <!-- Show Audo From DB  -->
                            <source src="../database/first_person.wav" type="audio/ogg">
                            Your browser does not support the audio element.
                        </audio>

                        <div class="flex mt-5">
                            <input type="reset" value="Clear Data" class="border text-white bg-[#560095] rounded-xl py-[.70rem] px-10 text-sm w-[28%]">
                            <button class=" bg-[#140038] rounded-xl text-white px-4 py-1 ml-2">
                                <i class="fa-solid fa-arrow-down"></i>
                            </button>
                        </div>
                     </div> 
                 </div>

                  <!-- Voice Box -->
                <div class="w-[50%]">
                    <div class="flex flex-col items-center justify-center w-full bg-[#e4e3e4] h-64 rounded-xl">
                        <form action="GET">
                            <p> {{ valu }} </p>
                        </form>
                       <p class="text-[#140038] text-xl py-3">Found Speakers Voice</p>
                    </div> 
                </div>
                   
            </div>
            
            <!-- Speaker List Start-->
            <div class="grid grid-cols-1 gap-5 lg:grid-cols-3 md:grid-cols-3 mt-10">
                {%for i in range(0, valu)%}
                <div class="singleSpeaker">

                    <!-- For loop logic of jinja template -->
                    
  
                    

                    <h4 class="text-[#140038] font-semibold">{{unique_speakers[i]}}</h4>
                    
                    <div class="flex items-center my-2">
                        <audio controls  preload="metadata" class="flex-1 py-1">
                            <!-- Show Audo From DB  -->
                            <source src="../database/first_person.wav" type="audio/ogg">
                            <a href="../database/first_person.wav" download>&#8628</a>

                            Your browser does not support the audio element.
                        </audio>
                        <a href="/" class="bg-[#560095] py-2 text-white px-5 rounded-xl ml-2">
                            Check voice
                        </a>
                    </div>
                </div>
                {%endfor%}

            </div>
            <!-- Speaker List End -->

            <!-- Matching Voice Data Start -->

                <!-- Topbar -->
                <div class="topbar flex justify-between mt-14 mb-5">
                    <h3 class="text-xl text-[#140038] font-semibold">Voice Matching Data</h3>
                    <button class="bg-gray-400 rounded-md py-2 px-8 text-sm text-[#fff]">
                        Saved Searches
                    </button>
                </div>
                <!-- Topbar End -->

                <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                    <table class="table-auto w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-sm text-white bg-[#140038] dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="p-4">
                                    <div class="flex items-center">
                                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                    </div>
                                </th>

                                <th scope="col" class="py-3 text-left">
                                    National ID
                                </th>

                                <th scope="col" class="py-3 text-left">
                                    Name
                                </th>

                                <th scope="col" class="py-3 text-left">
                                    Mobile
                                </th>

                                <th scope="col" class="py-3 text-left">
                                    Voice Match %
                                </th>

                                <th scope="col" class="py-3 text-center">
                                    Edit
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for i in range(0, name2)%}
                            <tr class="bg-gray-50 border-b border-l dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <td class="p-4 w-4">
                                    <div class="flex items-center">
                                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                    </div>
                                </td>
                                <td scope="row" class="py-4 px-2 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                                    <span>{{id[i]}}</span>
                                </td>
                                <td class="py-4 px-2 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                                    <span>{{all_names[i]}}</span>
                                </td>
                                <td class="py-4 px-2 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                                    <span>{{mobile_numbers[i]}}</span>
                                </td>
                                <td class="py-4 px-2 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                                    <div class="flex items-center justify-between">
                                        <div class="w-[85%] bg-gray-200 h-3 dark:bg-gray-700">
                                            <div class="bg-[#560095] h-3 dark:bg-[#560095]" style="width: 80%"></div>
                                        </div>
                                        <form action="GET">
                                            <span class="w-[15%] ml-3">{{pct_similirity[i]}}</span>
                                        </form>
                    
                                    </div>
                                </td>
                                <td class="py-4 px-6 text-center">
                                    <a href="#" class="text-xl font-medium text-[#560095] dark:text-[#560095] hover:underline">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                            {%endfor%}
                            <tr class="bg-white border-b border-l dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <td class="p-4 w-4">
                                    <div class="flex items-center">
                                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                    </div>
                                </td>
                                
                            </tr>
                            
                            
                        </tbody>
                    </table>

                </div>

            </div>
            <!-- Matching Voice Data End -->
            
            
        </div>
        <!-- Main Content End -->

        <!-- Profile Popup -->
        <div class="bg-[#0000009c] w-screen absolute top-0 left-0 hidden transition-all delay-75" id="profile-card">
            <div class="w-[60%] mx-auto rounded-t-xl bg-[#fff] shadow-md mt-20">
                <header class="bg-[#140038] flex justify-between text-[#fff] px-8 py-3 rounded-t-xl">
                    <h4 class="font-medium">Create New Profile</h4>
                    <span id="closeCard" class=" cursor-pointer"><i class="fa-solid fa-xmark"></i></span>
                </header>
                <form action="POST">
                    <div class="px-14 py-10 flex gap-x-5">
                        <div class="border border-dashed h-auto max-h-[180px] border-[#f4f0f0] bg-[#f8f3f3] w-[25%] flex flex-col items-center justify-center p-5">
                            <span class="text-4xl">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            <p class="text-xs mt-10">Drag & Upload Image</p>
                        </div>
        
                        <!-- Information field -->
                        <div class="flex flex-col w-[75%] gap-y-3">
                            <div class="flex flex-col w-full">
                                <label for="name" class="text-sm">First Name</label>
                                <input type="text" name="name" id="name" class="border px-3 py-3 border-[#eee] w-full block rounded-md focus:outline-none text-xs" placeholder="Shomitro">
                            </div>
            
                            <div class="flex flex-col w-full">
                                <label class="text-sm" for="address">Address</label>
                                <textarea name="address" placeholder="Full Address" id="address" class="border px-3 py-2 border-[#eee] w-full block rounded-md focus:outline-none text-xs" cols="30" rows="3"></textarea>
                            </div>
        
                            <div class="flex justify-between items-end gap-x-2">
                                <div class="flex flex-col w-[90%]">
                                    <label for="name" class="text-sm">Mobile Number</label>
                                    <input type="text" id="name" class="border px-3 py-3 border-[#eee] w-full block rounded-md focus:outline-none text-xs" placeholder="+8801XXXXXXXXX">
                                </div>
                                
                                <button class="bg-[#560095] rounded-md w-[10%] h-[42px] text-sm text-[#fff] inline-block">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
        
                            <div class="flex flex-col w-full">
                                <label for="name" class="text-sm">National ID</label>
                                <input type="text" id="name" class="border px-3 py-3 border-[#eee] w-full block rounded-md focus:outline-none text-xs" placeholder="00000000000">
                            </div>
        
                            <div>
                                <p class="text-sm">Voice Data</p>
                                <div class="flex w-full">
                                    <label for="dropzone-file" class="flex flex-col justify-center w-full border-4 border-[#ddd] border-dashed rounded-lg cursor-pointer py-3">
                                        <div class="flex items-center justify-center pt-1 pb-1">
                                            <span class="text-4xl text-[#ddd]">
                                                <i class="fa-solid fa-cloud-arrow-up"></i>
                                            </span>
                                            <div class="ml-4">
                                                <p class="text-md py-3 font-semibold">Drag and drop audio file here or Choose from file</p>
                                                <div class="border border-[#560095] text-[#560095] rounded-xl py-2 px-3 text-sm inline-block">
                                                    <input id="dropzone-file" type="file" />
                                                    <span>Browse File</span>
                                                </div>
                                            </div>
                                        
                                        </div>
                                        
                                    </label>
                                </div>  
                            </div>   
                            
                            <input type="submit" value="Create Profile" class="bg-[#560095] rounded-md py-3 px-10 text-sm text-[#fff] w-[200px] mx-auto mt-10">
        
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Profile Popup End -->
    </main>

    <script src="../staticFiles/main.js"></script>
</body>
</html>yt